@import "tailwindcss";
@config "../tailwind.config.ts";

@custom-variant dark (&:where(.dark, .dark *)); 

:root {
  --background: #FFFFFF;
  --foreground: #2E1065; /* Deep Purple text */
}

.dark {
  --background: #0B0512; /* Very dark purple/black background */
  --foreground: #F8FAFC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}